{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'annonce'}}) }}
      {{ form_errors(form.title) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.company, {'attr': {'class': 'form-control', 'placeholder': 'Nom de Votre Societe'}}) }}
      {{ form_errors(form.company) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
      {{ form_errors(form.city) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-7 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Contenu de l\'annonce'}}) }}
      {{ form_errors(form.content) }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.user.username, {'attr': {'class': 'form-control', 'placeholder': 'Votre Nom'}}) }}
      {{ form_errors(form.user.username) }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.user.password, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
      {{ form_errors(form.user.password) }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
      {{ form_widget(form.user.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse Mail'}}) }}
      {{ form_errors(form.user.email) }}
    </div>
  </div>

  
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      {# Génération de l'input. #}
       {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
  </div>
  
 

  {{ form_rest(form) }}
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>