{% extends "::layout.html.twig" %}

{% block post_it_body %}

{% for message in app.session.flashbag.get('notice') %}
			<div class="alert alert-warning" role="alert">
      {# On affiche tous les messages flash dont le nom est « info » #}
      
        <p> {{ message }}</p>
    </div>
      {% endfor %}
<div class="row">
	<div class="col-md-8">
	<div class="well well-sm">
<form>
    <div class="form-group">
      <div class="col-xs-4">
        <input type="text" class="form-control" id="motcle" placeholder="Mot cle">
      </div>
      	<div class="col-xs-3">
        <div class="form-group">
     		<select class="form-control" name="Categorie" id="Categorie">
			<option>Categorie</option>
  			<option>Immobiler</option>
  			<option>Alimentation</option>
  			<option>Voitures</option>
  			<option>Commerce</option>
			</select>
  		</div>
      	</div>
      	<div class="col-xs-3">
        <div class="form-group">
    		<select class="form-control" name="Categorie" id="Categorie">
			<option>Ou ?</option>
  			<option>Immobiler</option>
  			<option>Alimentation</option>
  			<option>Voitures</option>
			<option>Commerce</option>
			</select>
  		</div>
      	</div>
       <button type="submit" class="btn btn-info btn-sm">Chercher</button>
    	</div>
  </form>
  
</div>
</div>
<div class="col-md-4">
 <button id="addannounce" type="button" class="btn btn-warning btn-lg" >Deposer une annonce</button>
</div>
</div>



<div class="row">
	<div class="col-md-8">
		{% for announce in listAnnounces %}
		<div class="panel panel-info">

			<div class="panel-heading"><h4><a href="{{ path('postit_announce_view', {'id': announce.id}) }}">{{ announce.title }}</a></h4></div>
		<div class="panel-body">
		<h5><span class="glyphicon glyphicon-info-sign"></span> {{ announce.company }}<h5>
		<h6><span class="glyphicon glyphicon-map-marker"></span> {{ announce.city }}<h6>
		<h6><span class="glyphicon glyphicon-user"></span> {{ announce.user.username }}</h6>
		<h6><span class="glyphicon glyphicon-calendar"> </span> {{ announce.date|date('d/m/Y') }}</h6>
		</div>
		</div>

		{% endfor %}
	</div>

	
	<div class="col-md-4">
	
		{% for announce in listAnnounces %}
			<div class="well">
	VOTRE PUB ICI
	</div>
	{% endfor %}
	
	</div>
</div>

{% endblock %}
